<header>
    <navbar-main></navbar-main>
</header>

<div class="container-fluid container-md-height">
    <div class="row row-md-height">
        <section class="col-sm-9 col-sm-push-3 col-md-8 col-md-push-2 col-md-height">
            <h4>Price Chart</h4>
            <img class="img-responsive" src="../../images/sample-price-chart.png">
            <h4>Open Orders</h4>
        </section>

        <aside class="col-sm-3 col-sm-pull-9 col-md-2 col-md-pull-8 col-md-height">
            <deposit></deposit>
            <hr>
            <summary></summary>
        </aside>

        <aside class="col-xs-12 col-md-2 col-md-height">
            <place-order></place-order>
        </aside>

    </div>
</div>

<footer class="container-fluid">
    footer
</footer>
