<header>
    <navbar-main></navbar-main>
</header>

<div class="container-fluid">
    <div class="row">
        <section class="col-sm-9 col-sm-push-3 col-md-8 col-md-push-2">
            <h4>Price Chart</h4>
            <img class="img-responsive" src="../../images/sample-price-chart.png">
            <h4>Open Orders</h4>
        </section>

        <aside class="col-sm-3 col-sm-pull-9 col-md-2 col-md-pull-8">
            <summary></summary>
            <hr>
            <deposit></deposit>
        </aside>

        <aside class="col-xs-12 col-md-2">
            <h4>Place Order</h4>
            <ul class="list-group">
                <li class="list-group-item">Buy</li>
                <li class="list-group-item">Sell</li>
            </ul>
        </aside>
        
    </div>
</div>

<footer class="container-fluid">
    footer
</footer>
