<header class="container-fluid">
    <nav class="navbar main-nav">
        <a class="navbar-brand" href="#">Exchange</a>
        <ul>
            <li><a href="#">Trade</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>

<div class="container-fluid container-sm-height">
    <div class="row row-sm-height">
        <section class="col-sm-8 col-sm-push-2 col-sm-height">
            <h4>Price Chart</h4>
            <img src="../../images/sample-price-chart.png">
            <hr>
            <h4>Open Orders</h4>
        </section>

        <aside class="col-sm-2 col-sm-pull-8 col-sm-height">
            <summary></summary>
            <hr>
            <deposit></deposit>
        </aside>

        <aside class="place-order col-xs-12 col-sm-2 col-sm-height">
            <h4>Place Order</h4>
            <hr>
            <ul>
                <li>Buy</li>
                <li>Sell</li>
            </ul>
        </aside>
        
    </div>
</div>

<footer class="container-fluid">
    footer
</footer>
