@import "node_modules/bootstrap/dist/css/bootstrap.css";

body {
    font-family: 'Open Sans', sans-serif
}

header, footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

aside {
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 40px;
}

section {
    text-align: center;
}

section img {
    width: 100%;
}
.nav-bar {
    background-color: #333;
}
.main-nav ul {
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.main-nav li {
    width: 60px;
}

.main-nav a {
    text-decoration: none;
    color: #858585;
    font-size: 1.2em;
    font-weight: 300;
}

.main-nav a:hover {
    text-decoration: none;
    color: #ffffff;
}

/* The following code is used to create same-sized columns 
   in a multi-column layout.
   Code from:  
   http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
*/
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}
