@import "node_modules/bootstrap/dist/css/bootstrap.css";

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 90px;
}

.navbar {
    margin-bottom: 0px;
    padding: 20px 15px;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    
}

.navbar-inverse .navbar-nav > li > a {
    color: #bbb;
}

}
.logo-grey {
    color: #bbb;
    font-size: 1.5em;
}

.logo-green {
    color: greenyellow;
    font-size: 1.5em;
}

footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

aside {
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 40px;
}

.place-order {
    background-color: #333;
    color: #ddd;
    text-align: center;
}

section {
    text-align: center;
}

section img {
    width: 100%;
}

.nav-bar {
    background-color: #333;
}


/* The following code is used to create same-sized columns 
   in a multi-column layout.
   Code from:  
   http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
*/
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}
