<div class="col-xs-10 col-xs-offset-1" *ngIf="!submitted">
    <form (ngSubmit)="onSubmit()" #depositForm="ngForm">
      <div class="form-group">
        <label for="currency">Currency</label>
        <select class="form-control"
                [(ngModel)]="currency"
                name="currency"
                required>
            <option *ngFor="let c of currencies" [value]="c">{{ c }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="amount"
               name="amount"
               required>
      </div>

      {{ currency }}
      {{ amount }}
      
      <br>
      <button type="submit" class="btn btn-default" [disabled]="!depositForm.form.valid">
        Deposit
      </button>
    </form>
</div>
