<div class="alert alert-info" *ngIf="!summary || summary.length===0">
    <strong>Deposit</strong> Fund
</div>

<div *ngIf="!!summary && summary.length>0">
    <div class="panel-group" id="summary-accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#summary-accordion" href="#balance">
                        Available Balance
                    </a>
                </h4>
            </div>
            <div id="balance" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="col-xs-10 col-xs-offset-1">
                        <tr *ngFor="let item of summary">
                            <td>
                                {{ item.currency | uppercase }}
                            </td>
                            <td class="pull-right">
                                {{ item.amount | number:'.3-3' }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#summary-accordion" href="#detail">
                        Transaction Details
                    </a>
                </h4>
            </div>
            <div id="detail" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="col-xs-10 col-xs-offset-1">
                        <tr *ngFor="let transaction of transactions">
                            <td>{{ transaction.currency | uppercase }}</td>
                            <!--<td>{{ transaction.when | date:"MM/dd/yy hh:mm:ss" }}</td>-->
                            <td class="pull-right">{{ transaction.amount | number:'.3-3' }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
